<mat-progress-bar
  *ngIf="isPipelineRunning"
  mode="indeterminate"
></mat-progress-bar>

<app-settings></app-settings>

<mat-card>
  <mat-card-header>
    <mat-card-title>Image classification</mat-card-title>
    <mat-card-subtitle
      >Assigning a label or class to an entire image.	
      <a
        href="https://huggingface.co/docs/transformers.js/api/pipelines#module_pipelines.ImageClassificationPipeline"
        target="_blank"
        >Docs</a
      >
      |
      <a
        href="https://huggingface.co/models?pipeline_tag=image-classification&library=transformers.js"
        target="_blank"
        >Models</a
      >
      |
      <a
        href="https://medium.com/@paul.pietzko/custom-file-uploader-angular-18-ca566131f128"
        target="_blank"
        >Image upload in Angular</a
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-container">
      <mat-form-field class="full-width">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="model">
          @for (model of models; track model) {
          <mat-option [value]="model.value">{{ model.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="card-content-container" *ngIf="!isPipelineRunning && result">
      <ul>
        @for (resultItem of result; track resultItem) {
        <li>
          Label:
          <strong>{{ resultItem.label }}</strong
          >, Score:
          <strong>{{ resultItem.score | number : "1.2-2" }}</strong>
        </li>
        }
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      (click)="run('image-classification')"
      [disabled]="isPipelineRunning || !imagePreview() || !model"
    >
      Classify
    </button>
    <button
      mat-stroked-button
      (click)="run('image-segmentation')"
      [disabled]="isPipelineRunning || !imagePreview() || !model"
    >
      Segment
    </button>
  </mat-card-actions>
  <mat-card-content>
    <div class="card-content-container">
      <button
        mat-button
        (click)="
          imagePreview.set('samples/airport.jpg'); imageName.set('airport.jpg')
        "
      >
        Sample 1
      </button>
      <button
        mat-button
        (click)="
          imagePreview.set('samples/cats.jpg'); imageName.set('cats.jpg')
        "
      >
        Sample 2
      </button>
      <button
        mat-button
        (click)="
          imagePreview.set('samples/staircase.jpg');
          imageName.set('staircase.jpg')
        "
      >
        Sample 3
      </button>

      <div
        class="file-upload-wrapper"
        [class.success]="uploadSuccess"
        [class.error]="uploadError"
        (drop)="onFileDrop($event)"
        (dragover)="onDragOver($event)"
      >
        <input
          type="file"
          accept="image/*"
          (change)="onFileChange($event)"
          hidden
          #fileInput
        />
        <div class="file-dropper" (click)="fileInput.click()">
          <mat-icon>upload</mat-icon>
          <p>Upload</p>
          <div *ngIf="imageName()">
            <div *ngIf="selectedFile || imagePreview">
              <img
                [src]="imagePreview()"
                alt="Image Preview"
                class="image-preview"
              />
              <p *ngIf="fileSize()">
                <span class="image-name">{{ imageName() }}</span> ({{
                  fileSize()
                }}
                KB)
              </p>
              <mat-icon class="delete-icon" (click)="removeImage()"
                >delete</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      (click)="run('image-classification')"
      [disabled]="isPipelineRunning || !imagePreview() || !model"
    >
      Classify
    </button>
    <button
      mat-stroked-button
      (click)="run('image-segmentation')"
      [disabled]="isPipelineRunning || !imagePreview() || !model"
    >
      Segment
    </button>
  </mat-card-actions>
</mat-card>
