<mat-progress-bar
  *ngIf="isPipelineRunning"
  mode="indeterminate"
></mat-progress-bar>

<app-settings></app-settings>

<mat-card>
  <mat-card-header>
    <mat-card-title>Sentiment analysis</mat-card-title>
    <mat-card-subtitle
      >Assigning a label to a given text.
      <a
        href="https://huggingface.co/docs/transformers.js/api/pipelines#module_pipelines.TextClassificationPipeline"
        target="_blank"
        >Docs</a
      >
      |
      <a
        href="https://huggingface.co/models?pipeline_tag=text-classification&library=transformers.js"
        target="_blank"
        >Models</a
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-container">
      <mat-form-field class="full-width">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="model">
          @for (model of models; track model) {
          <mat-option [value]="model.value">{{ model.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Text to analyze</mat-label>
        <textarea matInput [(ngModel)]="textSeedValue"></textarea>
      </mat-form-field>
      <button mat-button (click)="copyFromBuffer()">Copy from Buffer</button>
      <button
        mat-button
        (click)="
          textSeedValue =
            'Artificial intelligence has transformed workflows by enhancing efficiency, creativity, and decision-making, making complex tasks easier and more accessible.'
        "
      >
        Sample 1
      </button>
      <button
        mat-button
        (click)="
          textSeedValue =
            'While artificial intelligence offers impressive capabilities, it sometimes lacks transparency and can introduce biases, leading to concerns about reliability and ethical implications in decision-making.'
        "
      >
        Sample 2
      </button>
      <button
        mat-button
        (click)="
          textSeedValue =
            'Artificial intelligence always feels intrusive, unpredictable, and prone to errors, raising serious concerns about privacy, dependency, and the loss of genuine human insight in decision-making processes.'
        "
      >
        Sample 3
      </button>
    </div>

    <div
      class="card-content-container"
      *ngIf="!isPipelineRunning && result"
    >
      <ul>
        @for (resultItem of result; track resultItem) {
        <li>
          Label:
          <strong>{{ resultItem.label }}</strong
          >, Score:
          <strong>{{ resultItem.score | number : "1.2-2" }}</strong>
        </li>
        }
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      (click)="run()"
      [disabled]="isPipelineRunning || !textSeedValue || !model"
    >
      Analyze
    </button>
  </mat-card-actions>
</mat-card>
