<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="sidenav-menu">
      <mat-toolbar>Menu</mat-toolbar>

      <mat-nav-list>
        <a mat-list-item href="/">Home</a>
        <a mat-list-item href="/analysis">Analysis</a>
        <a mat-list-item href="/vision">Vision</a>
        <a mat-list-item href="/generation">Generation <small>(WIP)</small></a>
        <a mat-list-item href="https://github.com/webmaxru/ng-ai">Repo</a>
        <a
          mat-list-item
          href="https://sessionize.com/s/maxim-salnikov/privacy-first-in-browser-generative-ai-web-apps-of/105248"
          >Presentation details</a
        >
        <a
          mat-list-item
          href="https://www.slideshare.net/slideshow/privacy-first-in-browser-generative-ai-web-apps-offline-ready-future-proof-standards-based/273142915"
          >Presentation slides</a
        >
        <a mat-list-item href="https://sessionize.com/maxim-salnikov/"
          >Contact</a
        >
      </mat-nav-list>

      <p class="sidenav-footer">
        <small
          >Made in Norway by
          <a href="https://www.linkedin.com/in/webmax/"
            >Maxim Salnikov</a
          ></small
        >
      </p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>WebNN using Transformers.js</span>
      <span class="toolbar-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Share page"
        (click)="sharePage()"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
