<mat-progress-bar
  *ngIf="isPipelineRunning"
  mode="indeterminate"
></mat-progress-bar>

<app-settings></app-settings>

<mat-card>
  <mat-card-header>
    <mat-card-title>Text generation</mat-card-title>
    <mat-card-subtitle
      >Producing new text by predicting the next word in a sequence.
      <a
        href="https://huggingface.co/docs/transformers.js/api/pipelines#module_pipelines.TextGenerationPipeline"
        target="_blank"
        >Docs</a
      >
      |
      <a
        href="https://huggingface.co/models?pipeline_tag=text-generation&library=transformers.js"
        target="_blank"
        >Models</a
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-container">
      <mat-form-field class="full-width">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="model">
          @for (model of models; track model) {
          <mat-option [value]="model.value">{{ model.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Seed text</mat-label>
        <textarea matInput [(ngModel)]="textSeedValue"></textarea>
      </mat-form-field>
      <button mat-button (click)="copyFromBuffer()">Copy from Buffer</button>
      <button
        mat-button
        (click)="
          textSeedValue =
            'Q: What is the capital of France?\nA: Paris\nQ: What is the capital of England?\nA:'
        "
      >
        Sample 1
      </button>
      <button mat-button (click)="textSeedValue = 'Write a poem about love'">
        Sample 2
      </button>
      <button mat-button (click)="textSeedValue = 'Have a nice day'">
        Sample 3
      </button>
    </div>

    <div class="card-content-container" *ngIf="!isPipelineRunning && result">
      <ul>
        @for (resultItem of result; track resultItem) {
        <li>
          <strong>{{ resultItem.generated_text }}</strong>
        </li>
        }
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      (click)="run()"
      [disabled]="isPipelineRunning || !textSeedValue || !model"
    >
      Generate
    </button>
  </mat-card-actions>
</mat-card>
