a {
  color: var(--mat-primary);
}

.card-content-container {
  margin-top: 0.5rem;
}

.logo {
  text-align: center;
}

.nav-list-item {
  border: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 0.5rem;
}
