<div class="card-content-container logo">
  <img
    src="icons/icon-512x512.png"
    width="200"
    height="200"
    alt="WebNN with Transformers.JS Demo"
  />

  <h1>Angular AI</h1>
</div>

<mat-card>
  <mat-card-content>
    <div class="card-content-container logo">
      Offline-ready, privacy-first application that leverages the most suitable
      hardware available on the edge to run AI workloads
    </div>

    <p>Choose task:</p>

    <mat-nav-list>
        <a mat-list-item href="/">Analysis</a>
        <a mat-list-item href="/vision">Vision</a>
      </mat-nav-list>

  </mat-card-content>
</mat-card>
